<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tlnguyen.homework_gamebook" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.tlnguyen.homework_gamebook.activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tlnguyen.homework_gamebook.activities.raiden.RaidenFirstScene"
            android:label="@string/title_activity_raiden_first_scene" >
        </activity>
        <activity
            android:name="com.tlnguyen.homework_gamebook.activities.raiden.RaidenPunch"
            android:label="@string/title_activity_raiden_punch" >
        </activity>
        <activity
            android:name="com.tlnguyen.homework_gamebook.activities.raiden.RaidenKick"
            android:label="@string/title_activity_raiden_kick" >
        </activity>
        <activity
            android:name="com.tlnguyen.homework_gamebook.activities.raiden.RaidenBlock"
            android:label="@string/title_activity_raiden_block" >
        </activity>
        <activity
            android:name="com.tlnguyen.homework_gamebook.activities.raiden.RaidenCombo"
            android:label="@string/title_activity_raiden_combo" >
        </activity>
        <activity
            android:name="com.tlnguyen.homework_gamebook.activities.raiden.RaidenTeleport"
            android:label="@string/title_activity_raiden_teleport" >
        </activity>
        <activity
            android:name="com.tlnguyen.homework_gamebook.activities.raiden.RaidenThunder"
            android:label="@string/title_activity_raiden_thunder" >
        </activity>
        <activity
            android:name="com.tlnguyen.homework_gamebook.activities.shaokahn.ShaokahnFirstScene"
            android:label="@string/title_activity_shaokahn_first_scene" >
        </activity>
    </application>

</manifest>
