<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tlnguyen.handlinglocation" >

    <!-- <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.LocationActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".NetworkProviderStatusReceiver"
            android:enabled="true"
            android:exported="true" >
        </receiver>

        <activity
            android:name=".activities.AsyncLocationActivity"
            android:label="@string/title_activity_async_location" >
        </activity>

        <service
            android:name=".services.TrackingService"
            android:enabled="true"
            android:exported="true" >
        </service>
    </application>

</manifest>
